<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA2QTrLBUxv8kFnSN5YbvOPfYs4pULDDVM</string>
	<key>GCM_SENDER_ID</key>
	<string>1087832704269</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dinarStore</string>
	<key>PROJECT_ID</key>
	<string>prizm-energy</string>
	<key>STORAGE_BUCKET</key>
	<string>prizm-energy.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1087832704269:ios:1e98764f486ef71b2a9c44</string>
</dict>
</plist>